# Chuẩn chung + cấu hình ktlint cho tầng Kotlin.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 120
# Compose: hàm @Composable đặt tên PascalCase (MainActivity, StreamScreen...), nên
# tắt luật function-naming của ktlint để nó không báo sai trên các composable.
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_function-naming = disabled

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab
